.App {
  text-align: center;
  border: 1px solid black;
  
}
.container{
  background: wheat;

}

.row-content{
  margin: 10px;
}
#hot{
  width: 25%;
  background: red;
}
#warm{
  width: 25%;
  background: yellow;
}
#cold{
  width: 25%;
  background:turquoise
}
#correct{
  width: 25%;
  background: green;
}